{% extends "saelaiBundle::Template.html.twig" %}

{% block main %}

    {% block name %}
        <h6 class="navbar-brand" href="#">Manager | Amalia Rojas</h6> 
    {% endblock %}

    {% block students %}
        <li class="active">
            <a href="user.html">
                <i class="pe-7s-study"></i>
                <p>Students</p>
            </a>
        </li>
    {% endblock %}

    {% block contenido %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--AQUÍ VA TODO EL CONTENIDO DE LA PÁGINA-->
                    HOLA
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block modal %}
{% endblock %}

{% block javascript %}
{% endblock %}

